---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/sal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - 4bcc64e4
      App-Key:
      - 14bf66c9afa02c325c727b4584b4d198
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "sal",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Singular",
                                    "type": "Number"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "sal",
                                    "text": "sal"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Noun",
                            "text": "sal"
                        }
                    ],
                    "word": "sal"
                }
            ]
        }
  recorded_at: Wed, 30 May 2018 17:55:00 GMT
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/zoo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - 4bcc64e4
      App-Key:
      - 14bf66c9afa02c325c727b4584b4d198
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "met[...]
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/josh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - 4bcc64e4
      App-Key:
      - 14bf66c9afa02c325c727b4584b4d198
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "me[...]
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/no
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - 4bcc64e4
      App-Key:
      - 14bf66c9afa02c325c727b4584b4d198
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "meta[...]
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/foxez
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - 4bcc64e4
      App-Key:
      - 14bf66c9afa02c325c727b4584b4d198
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - text/html
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>404 Not Found</title>
        <h1>Not Found</h1>
        <p>No lemmas found matching supplied source_lang and word</p>
  recorded_at: Wed, 30 May 2018 17:55:01 GMT
[...]
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/foxez
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - 4bcc64e4
      App-Key:
      - 14bf66c9afa02c325c727b4584b4d198
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - text/html
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>404 Not Found</title>
        <h1>Not Found</h1>
        <p>No lemmas found matching supplied source_lang and word</p>
  recorded_at: Wed, 30 May 2018 17:55:01 GMT
recorded_with: VCR 4.0.0
